<launch>

    <node pkg="sensors" type="curved_waypoints_4.py" name="curved_waypoints_4" />

    <node name="dynamic_model_simulate" type="dynamic_model_simulate" pkg="sensors" />

    <include file="$(find sensors)/launch/asmc.launch" />

    <node name="tvlos_cp" pkg="sensors" type="tvlos_cp.py" >
	<param name = "speed_equation" value = "0" />
    </node>

    <node name="ibvs_asmc" type="ibvs_asmc" pkg="uav_ros_pkg" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/Documents/rasp_ws/src/uav_ros_pkg/mat/bags/curved" />

</launch>
