<launch>

    <node name="uav_tf2_broadcaster" type="uav_tf2_broadcaster" pkg="uav_ros_pkg" />

    <arg name="model" default="$(find uav_ros_pkg)/urdf/uav.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="ibvs_asmc" type="ibvs_asmc" pkg="uav_ros_pkg" />

</launch>